.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	font-size: 18px;
	line-height: 140%;
	letter-spacing: 0.02em;
}
.entry-title {
	font-size: 28px;

	&.single {
		font-size: 24px;
		margin-bottom: 14px;
	}
}
.page-title {
	font: {
		size: 40px;
		weight: 600;
	}
	margin-bottom: 30px;
}
.big-title {
	font-size: 96px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@media screen and (max-width: 1300px) {
    .big-title {
		font-size: 40px;
	}
}
@media screen and (min-width: 550px) {
	.page-title {
		font-size: 60px;
		margin-bottom: 56px;
	}
	.entry-title {
		font-size: 48px;
	}
}