.footer-widgets {
    padding: 50px 0;
    background: #f5f5f5;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 48px;
    }
}
.f-widget {

    .widget-title {
        font-size: 24px;
        color: $color__text-main;
    }
    .f-site-name {
        h2 {
            font-size: 24px;
            margin: 0;
            color: $color__text-main;
        }
    }
    .widget-title {
        margin-bottom: 24px;
    }
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }
    .f-logo {
        flex-shrink: 0;
        > a {
            display: flex;
            max-width: 80px;
            margin-right: 16px;
        }
    }
    .f-links {
        display: grid;
        align-items: flex-start;
        gap: 8px;

        a {
            color: $color__text-main;
            font: {
                family: $font__secondary;
                size: 18px;
                weight: 700;
            }
            text-transform: uppercase;
            letter-spacing: 0.04em;

            &:hover {
                color: $color__primary;
            }
        }
    }
    .about-text {
        p {
            font-size: 16px;
        }
        a {
            color: $color__text-main;
            font-style: italic;
        }
    }
    .button {
        margin-top: 48px;
        max-width: 130px;
    }
    .social-icons {
        display: flex;
        margin-top: 48px;

        li {
            margin-right: 8px;

            &:last-of-type {
                margin-right: 0;
            }
            svg {
                width: 36px;
            }
            path {
                transition: all 0.2s linear;
            }
            &:hover {
                path {
                    fill: $color__primary;
                }
            }
        }
    }
}

@media screen and (min-width: 550px) {
    .footer-widgets {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }
    .f-widget .button {
        max-width: fit-content;
    }
}

@media screen and (min-width: 1000px) {
    .footer-widgets {
        .container {
            grid-template-columns: minmax(250px, 1fr) repeat(auto-fit, minmax(180px, 1fr));
        }
    }
}

@media screen and (min-width: 1170px) {
    .footer-widgets {
        .container {
            grid-template-columns: minmax(450px, 360px) minmax(162px, 1fr) minmax(240px, 1fr) minmax(162px, 1fr);
        }
    }
}

@media screen and (min-width: 1440px) {
    .footer-widgets {
        .container {
            grid-template-columns: minmax(450px, 360px) minmax(162px, 1fr) minmax(240px, 1fr) minmax(162px, 1fr);
        }
    }
}



