a {
	color: $color__link;
	text-decoration: none;
	transition: all 0.2s linear;

	&:visited,
	&:hover,
	&:focus,
	&:active {
		color: $color__link;
	}

	&:focus,
	&:hover,
	&:active {
		outline: 0;
	}
	&.link {
		font: {
			size: 18px;
			// weight: 400;
		}
		text-decoration: underline;
		color: $color__text-main;
		letter-spacing: 0.02em;
	}
}
