.post-type-archive-courses {

    .tutor-courses {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        div[class*="tutor-course-col"] {
            width: 100%;
        }
    }
}

.single-wrap {
    
    .widget {

        .widget-title {
            font-size: 34px;
            font-weight: 400;
            color: $color__text-main;
        }
        .button {
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 860px) {
    .tutor-course-filter-wrapper {
        flex-direction: column;
    }
    .tutor-course-filter-container form > div {
        display: none;
    }
    .tutor-course-filter-container form .tutor-course-search-field {
        display: block;
        margin-bottom: 32px;
    }
    .tutor-course-archive-results-wrap {
        display: none;
    }
}