.site-header {
	display: grid;
}

.main-wrapper {
	width: 100%;
	margin: 100px 0;

	.site-main {
		flex: 3;
		padding-right: 20px;
	}
	.widget-area {
		flex: 1;
	}
	&.single-wrap {

		.site-main {
			flex: 2.8;
		}
		.widget-area {
			flex: 1.2;
		}
	}
}

.site-main,
.widget-area {
	width: 100%;
}

.site-footer {
	display: grid;
}

.error404 {
	.page-content {

		form {
			position: relative;
		}
		input {
			border-radius: 50px;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

@media screen and (max-width: 720px) {
	.main-wrapper {
		.container {
			flex-direction: column;
		}
		.site-main {
			padding-right: 0;
		}
	}
}

@import "no-sidebar";