.dashboard-wrapper {
    margin: 100px 0;

    .dashboard-user-info {
        display: flex;
        align-items: center;
        padding: 0 56px;
    }
    .author-image {
        margin-right: 32px;

        img {
            border-radius: 100%;
        }
    }
    .author-name {
        font-size: 48px;
    }
}

.dashboard-tabs-wrapper {

    .dashboard-container {
        display: grid;
        grid-template-columns: minmax(200px, 250px) 1fr;
        gap: 48px;
        align-items: flex-start;
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid rgba(0,0,0,0.15);
    }
    .tabs {
        flex-direction: column;
        align-items: center;
        background: none;
        padding: 0;
        
        li,
        a {
            justify-content: flex-start;
            width: 100%;
            border-radius: 4px;
            padding: 19px 12px;
            line-height: 1;
            margin-bottom: 8px;
        }
        li {
            svg {
                margin-right: 16px;
            }
            path {
                fill: $color__text-main;
                stroke: $color__text-main;
            }
            &.active-tab {

                path {
                    fill: #fff;
                    stroke: #fff;
                }
            }
        }
        
        a {
            display: flex;
            align-items: center;
            color: $color__text-main;
            margin-top: 18px;
            padding-top: 32px;
            border-top: 1px solid rgba(0,0,0,0.15);
            font: {
                family: $font__secondary;
                size: 18px;
                weight: 700;
            }
            letter-spacing: 0.04em;
            text-transform: uppercase;

            svg {
                margin-right: 16px;
            }
        }
    }
    .tabs-content {
        margin-top: 0;
        padding: 0;

        .entry-title {
            font: {
                size: 34px;
                weight: 400;
            }
            margin-bottom: 32px;
        }
        .enroll-courses {
            display: flex;
            background: $color__background-input;
            padding: 24px 0;
            font-size: 18px;

            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;
                border-right: 1px solid $color__border;

                &:last-of-type {
                    border-right: none;
                }
            }
            h4,
            h5 {
                font: {
                    size: 34px;
                    weight: 400;
                }
                margin-bottom: 20px;
            }
        }
    }
}
.enroll-courses-lists {
    display: grid;
    gap: 24px;
    margin-top: 80px;
    font-size: 18px;
    color: $color__text-secondary;

    .box-with-shadow {
        .entry-title {
            font: {
                size: 24px;
                weight: 700;
            } 
        }
    }
    .progress-bar {
        width: 100%;
        height: 2px;
        background: $color__text-secondary;
        margin: {
            top: 20px;
            bottom: 10px;
        }

        .bar-active {
            height: 2px;
            background: $color__primary;
            position: relative;

            &::after {
                content: '';
                width: 20px;
                height: 20px;
                background: $color__text-secondary;
                border-radius: 20px;
                position: absolute;
                top: -10px;
                right: -10px;
            }
        }
    }
}

.certificate-wrapper {

    .box-with-shadow {
        .entry-title {
            font: {
                size: 24px;
                weight: 700;
            } 
            margin-bottom: 0;
        }
    }
    .certificate {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
