.header-after {
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 60px 112px;
    }
    .breadcrumbs {
        display: flex;
        font: {
            family: $font__secondary;
            size: 24px;
            weight: 700;
        }
        margin-bottom: 32px;

        > * {
            color: $color__text-main;
        }
    }
    .separator {
        margin: 0 6px;
    }
    .page-title {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 850px) {
    .header-after {
        padding: 12px 0 0 0;

        .container {
            grid-template-columns: 1fr;
        }
        .breadcrumbs {
            margin-bottom: 0;
        }
        // &.course-single-page {
        //     // padding: 12px 0 0 0;

        //     .left-wrap {
        //         display: none;
        //     }
            
        // }
    }
}