.courses-wrapper {
    padding: 100px 0;

    .courses-lists {

        .tutor-courses {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
            gap: 78px 0;
            justify-content: center;
        }
    }
    .tutor-course-header > a {
        display: flex;
        height: 204px;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 12px 12px 0 0;
        }
    }
    .button {
        max-width: 100%;
    }
    .course-bottom {
        grid-column: 1/-1;
        display: grid;
        justify-content: center;
        margin-top: 26px;
    }

}